body{
    background-color: #E6E8D3;
    font-family: "Source Sans Pro", serif;

}
h1, h2 {
    text-align: center;
}

header img{
    width: 100%;
}


header{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

nav{
    position: fixed;
    top: 20%;
    left: 0;
    height: 100%;
    font-family: 'Space Mono', monospace;
    font-size: 1.4em;
    width: 15%;
    min-width: 12.2em;
    padding: 0.3em;
}
nav ul{
    position: relative;
    text-align: center;
}

nav li{
    list-style: none;
    padding: 1.3em 4em 1.3em 0;
    border-bottom: 0.1em dashed #fff;
    
}

nav a{
    color: #8F8FBD;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    font-weight: normal;
}

#wrap{
    background-color: #FBFBF3;
    border: 5px solid #FFFBFA;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*other browsers*/
    -moz-border-top-left-radius: 25px;
    -moz-border-top-right-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    height: 100%;
    margin: 2% 15% 0 15%;
    min-height: 46em;
}


main{
    width: 65%;
    min-width: 37.25em;
    margin: 5% 2% 2% 10%;
    padding: 2%;
    background-color: #FBFBF3;
    text-align: left;
    overflow: auto;
}

main section{
    padding-top: 10px;
    padding-bottom: 10px;
}
main img{
    float:right;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 2em;
    width: 100%;
    background: url("../images/colorspattern.jpg") repeat-x;
}

.time{
    font-style: oblique;
    font-size:13px;
}


.progress{
    height:20px;
    width: 20%;
    position: relative;
    background:#999;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px #666666;
}

.progress > span{
    display:block;
    height: 100%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #ff69b4;
    box-shadow: inset 0 2px 9px #000, inset 0 -2px 6px #fff;
    position: relative;
    overflow: hidden;
}



#profile{
    opacity: 0.4;
}

#blackOut{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10% 15% 80% 15%;
}



/* medium screens */

@media screen and (max-width: 1280px){
    main{
        width: 70%;
        min-width: 0;
        min-height: 45em;
    }
    nav{
        width: 15%;
        min-width: 0;
        margin-top: -8%;
    }
    nav ul{
        width: 100%;
        margin: 0 2% 0 -25%;
    }
    nav li{
        display: block;
        padding: 1% 2% 1% 2%;
    }
    nav a{
        font-size: 0.8em;
    
    }
 
}
/* medium-small screens*/
@media screen and (max-width: 860px){
    nav{
        margin-top: -4%;
    }
    nav ul{
        width: 100%;
        margin: 0 2% 0 -25%;
    }
    nav a{
        font-size: 0.5em;
    }
}

/* small screen */
@media screen and (max-width: 670px){
    header{
        visibility: hidden;
    }
    nav{
        position:relative;
        width: 100%;
        
    }
    nav ul{
        width: 100%;
        margin: 0 2% 0 -25%;
    }
    nav a{
        font-size: 1em;
    }
    #wrap{
        width: 95%;
        margin: 0 auto;
    }
    main{
        font-size: 1.2em;
        margin: 1%;
    }
    footer{
        visibility: hidden;
    }
}
@media screen and (max-width: 320px){
    header{
        visibility: hidden;
    }
    nav{
        position:relative;
        width: 100%;
        
    }
    nav ul{
        width: 100%;
        margin: 0 2% 0 -25%;
        text-align: center;
    }
    nav a{
        font-size: 1em;
    }
    #wrap{
        width: 95%;
        margin: 0 auto;
    }
    main{
        font-size: 1.2em;
        margin: 1%;
    }
    footer{
        visibility: hidden;
    }
}